//Variables
@import "colors";

@media screen and (max-width: 800px) {
  .header ul{
      width: 90% !important;
  }
}

.header{
    text-align: center;
}

.header ul{
    text-align: left;
    width: 43%;
    margin: auto;
    border: 1px solid $bgPrimary;
    border-radius: 5px;
    background-color:$bgPrimary;
    background: rgba(220,168,10, 0.6);
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: darkgray;
    text-decoration: underline;
  }