
.tooltip {
    display: none;
    position: absolute;
    background-color: #EEE !important;
    color: black;
    transform: translateX(60%) translateY(-100%) translateZ(0);
    width: 200px;
    max-width: 100%;
    border-radius: .3rem;
    text-align: left;
    border: 2px solid darkgoldenrod !important;
}

.tooltip p {
    background-color: #BBB;
    color: black;
    margin: 0;
    padding: 5px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tooltip span {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.tooltip div{
    background-color: rgb(218, 168, 42) !important;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 0;
    font-size:18px ;
}

.tooltipList{
    background-color: white;
    padding: 3px;
    margin: 2px;
}